$dorado:#ddaa10; 
$negro:black;
$verde:#3E482F;


/*header*****************************************************************/

 header {
            width: 100%;
        .navbar{
            background-color: $dorado;        
        .navbar-nav {
        .nav-link{
            color:$negro;
        &:hover {
            color: white;
        
         }    
        }           
      }
    }
  }
header{ 
  .dropdown-menu{
    background-color: $dorado;
  }
} 

header {
.carousel-caption{
    p{
        color: $dorado;
        font-size: 2rem;
        font-family: 'roboto';
        text-transform: uppercase;
        line-height: 1.6;
        letter-spacing: 2px;
        font-style: italic;
        font-weight: bold;
        text-shadow:
       0 0 1px rgb(255, 255, 255),
       -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
     
    em {
         color: white;
         font-family: helvetica; 
         text-decoration-line: none;
         font-style: normal;
         font-weight:normal;
         font-size: 2rem;
         text-align: center;
         text-transform: uppercase;
         line-height: 1.6;
         letter-spacing: 2px;
         padding: 10px;
            
         }
       }
     }
   }
   
header{  
   .carousel-caption i {
    color: black;
    padding: 10px; 
    font-size: 2,5rem;
  }
}
/*footer***********************************************************/
.footerfooter {

    background-color:$verde;
    .redeslist-inline {
    display: flex;  
    flex-direction: row; 
    justify-content: center;
    padding: 0.3rem;
    li{
    a{
    display: flex;
    color: white;
    font-size: 3rem;
    flex-direction: row; 
    padding: 0.5rem;
    list-style: none;
    text-decoration: none;
    &:hover {
    color:$dorado;
    -webkit-transform:scale(1.1);transform:scale(1.1);

        }
      }
    }
  }
} 

.footerfooter {

    .menulist-unstyled{
        list-style: none;
        padding: 0rem 0rem 0rem 0.5rem ;
    li a{
        display: flex;
        color: white;
        font-size: 1rem;
        flex-direction: row; 
        padding: 0.5rem;
        list-style: none;
        text-decoration: none;
        justify-content: center;
        &:hover{
        color: $dorado;
        -webkit-transform:scale(1.1);transform:scale(1.1);

          }
        } 
    }    
} 

.footerfooter {

    .menulist1-unstyled{
        list-style: none;
        padding: 1rem 0rem 0rem 1rem ;

    li {

        display: flex;
        color: white;
        font-size: 0.8rem;
        flex-direction: row; 
        padding: 0rem 0.8rem 3rem 0rem ;
        list-style: none;
        text-decoration: none;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        text-transform: normal;
        line-height: 1.6;
        letter-spacing: 1px;
      }  
    
    }

 }

.footerlogo img {
  overflow:hidden;
  border: solid 1px black;
  border-radius: 180px;
  padding: 10px;
  &:hover  {
    -webkit-transform:scale(1.2);transform:scale(1.2);
  }
}
.seguinos {
  padding: 1px;
  margin: 1px;
  color: #ddaa10;
  font-weight: bold;
}

.text-uppercase {
  color:$dorado
}

.list-unstyled:hover {
  -webkit-transform:scale(1.1);transform:scale(1.1);

}
/*MAIN INDEX**********************************************/
/*BOTON FLOTANTE**********************************************************/

.arrow-btn {

  position: fixed;
  bottom: 30px;
  right: 30px;
  a{
   height: 40px;
   width: 40px;
   text-align:center ;
   background:#3E482F;
   display:block ;
   border-radius:20px ;
   cursor: pointer;
   z-index: 9px;
   border: solid #ddaa10 2px;
  span{
   color: aliceblue;
   line-height: 40px;
   font-size: 25px;
    }
  }
} 

.arrow-btn :hover {
  color: #ddaa10;
}

 
/*COMBOS MAIN INDEX*/
.mainmain {
    .divcombos a {
      display: flex;
      text-decoration: none;
      color:black;
      font-family: 'Roboto', sans-serif;  
      font-style: normal;
      font-weight:bold ;
      font-size: 0.938rem;
      padding: 3rem;
      justify-content: center;
      text-transform: uppercase;
      &:hover {
      color: $dorado;
         }
       }
     }

.mainmain {
    .divcombos{
    h1{
    display: inline-block;
    position: relative;  
    &::after,&::before{
    content:'';
    position: absolute;
    width: 4rem;
    height: 3px;
    background-color: black;
    top: 0.6em;      
         }  
      }  
    }
  }  
    h1::after{
      left: 8rem;
   }
    h1::before{
      right: 8rem;
   } 

   .divcombos a h1{
    font-size: 1.5rem;
  }
/*DESTACADOS MAIN INDEX*/
   
.mainmain {
    .divdestacados a {
      display: flex;
      text-decoration: none;
      color:black;
      font-family: 'Roboto', sans-serif;  
      font-style: normal;
      font-weight:bold ;
      font-size: 0.938rem;
      padding: 1rem;
      justify-content: center;
      text-transform: uppercase;
    &:hover {
      color: $dorado;
       }
     }
   }

.mainmain {
    .divdestacados{
    h1{
    display: inline-block;
    position: relative;  
    &::after,&::before{
    content:'';
    position: absolute;
    width: 3.5rem;
    height: 3px;
    background-color: black;
    top: 0.6em;      
         }  
      }  
    }
  }  
  .divdestacados h1::after{
    left: 9.625rem;
 }
 
 .divdestacados h1::before{
    right: 9.625rem;
 }

 .divdestacados a h1{
  font-size: 1.5rem;
 }

/*ESTILOS EN IMAGENES***********************************************************************/   
.card {
    opacity: 0.7;
    border-radius: 20px;
    border: 5px double;
    color: black;
&:hover {
    opacity: 1.0;
 
  }
}
.card-text {
  display: flex;
  text-decoration: none;
  color:black;
  font-family: 'Roboto', sans-serif;  
  font-style: normal;
  font-weight:bold ;
  font-size: 0.938rem;
  padding: 1rem;
  justify-content: center;
}
.card-title a{
  display: flex;
  text-decoration: none;
  color:black;
  font-family: 'Roboto', sans-serif;  
  font-style: normal;
  font-weight:bold ;
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: center;
  text-decoration-line: none;

}
.card-img-top {
  border-radius: 16px;

}


/*MAIN PAGINA COMBOS**********************************************************************/

.mainmain1 {
  padding: 20px;
  .divcombos a {
    display: flex;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
    font-weight:bold ;
    font-size: 0.938rem;
    padding: 4rem;
    justify-content: center;
    text-transform: uppercase;
    &:hover {
    color: $dorado;
     
         }
       }
     }

.mainmain1 {
    .divcombos a {
     display: flex;
     text-decoration: none;
     color:black;
     font-family: 'Roboto', sans-serif;  
     font-style: normal;
     font-weight:bold ;
     font-size: 0.938rem;
     padding: 3rem;
     justify-content: center;
     text-transform: uppercase;
     &:hover {
     color: $dorado;
     }
   }
 }
  
.mainmain1 {
      .divcombos{
      h1{
      display: inline-block;
      position: relative;  
      &::after,&::before{
      content:'';
      position: absolute;
      width: 4rem;
      height: 3px;
      background-color: black;
      top: 0.6em;      
           }  
        }  
      }
    }  
      h1::after{
        left: 9rem;
     }
      h1::before{
        right: 9rem;
     } 
  

.mainmain1 .navbar{
  padding: 0 0 0rem 0;
}

.divcombos a h1{
  font-size: 1.5rem;
}
/*MAIN  PAGINA CREAR CUENTA********************************/

.well {
  padding: 20px;
}

.mainmain3 {
  .divformulario a {
    display: flex;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
    font-weight:bold ;
    font-size: 0.938rem;
    padding: 5rem;
    justify-content: center;
    text-transform: uppercase;
    &:hover {
    color: $dorado;
     
         }
       }
     }
   
.mainmain3 {
  .divformulario{
  h1{
  display: inline-block;
  position: relative;
  font-size: 1.8rem;  
  &::after,&::before{
  content:'';
  position: absolute;
  width: 3.5rem;
  height: 3px;
  background-color: black;
  top: 0.6em;      
       }  
    }  
  }
}  
.divformulario h1::after{
  left: 12.925rem;
}

.divformulario h1::before{
  right: 12.925rem;
}
 
.divformulario a h1{
   font-size: 1.5rem ;
}

/*MAIN  PAGINA Destacados*********************************/

.mainmain2 {
  .divdestacados a {
    display: flex;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
    font-weight:bold ;
    font-size: 0.938rem;
    padding: 5rem;
    justify-content: center;
    text-transform: uppercase;
    &:hover {
    color: $dorado;
     
         }
       }
     }
   
.mainmain2 .navbar{
  padding: 0 0 0rem 0;
}

.mainmain2 {
  .divdestacados{
  h1{
  display: inline-block;
  position: relative;  
  &::after,&::before{
  content:'';
  position: absolute;
  width: 3.5rem;
  height: 3px;
  background-color: black;
  top: 0.6em;      
       }  
    }  
  }
}  
.divdestacados h1::after{
  left: 10.625rem;
}

.divdestacados h1::before{
  right: 10.625rem;
}
.divdestacados a h1{
  font-size: 1.5rem;
}

/*MAIN  PAGINA Queso vaca*********************************/

.mainmain9 {
  padding: 20px;
  .divquesovaca a {
    display: flex;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
    font-weight:bold ;
    font-size: 0.938rem;
    padding: 3rem;
    justify-content: center;
    text-transform: uppercase;
    &:hover {
    color: $dorado;
       }
     }
   }
    
.mainmain9 {
  .divquesovaca{
  h1{
  display: inline-block;
  position: relative;  
  &::after,&::before{
  content:'';
  position: absolute;
  width: 4rem;
  height: 3px;
  background-color: black;
  top: 0.6em;      
       }  
    }  
  }
}  
  h1::after{
    left: 10rem;
 }
  h1:before{
    right: 10rem;
 } 

 .divquesovaca a h1{
  font-size: 1.5rem;
}
/*MAIN  PAGINA Queso Oveja*********************************/
.mainmain10 {
  padding: 20px;
  .divquesooveja a {
    display: flex;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
    font-weight:bold ;
    font-size: 0.938rem;
    padding: 3rem;
    justify-content: center;
    text-transform: uppercase;
    &:hover {
    color: $dorado;
       }
     }
   }
    
.mainmain10 {
  .divquesooveja{
  h1{
  display: inline-block;
  position: relative;  
  &::after,&::before{
  content:'';
  position: absolute;
  width: 4rem;
  height: 3px;
  background-color: black;
  top: 0.6em;      
       }  
    }  
  }
}  
  h1::after{
    left: 12rem;
 }
  h1:before{
    right: 12rem;
 } 

 .divquesooveja a h1{
  font-size: 1.3rem;
}


/*MAIN  PAGINA unproducto *********************************/

.divunproducto {
  padding: 80px;
  h1{
   display: flex;
   text-decoration: none;
   color:black;
   font-family: 'Roboto', sans-serif;  
   font-style: normal;
   font-weight:bold ;
   font-size: 1rem;
   padding: 1rem;
   justify-content: center;
   text-transform: uppercase;
  }
}

.main-product-image {
  padding: 0.5rem;
  border-radius: 20px;
  border: 5px double;
  color: black;
  overflow: hidden;
  &:hover{
  -webkit-transform:scale(1.1);transform:scale(1.1);
  }
}

.mainmain6{
  display: flex;
  text-decoration: none;
  color:black;
  font-family: 'Roboto', sans-serif;  
  font-style: normal;
  font-weight:bold ;
  font-size: 1rem;
  padding: 1rem;
  justify-content: center;
  text-transform: uppercase;
}

#product-sharing i{
  color:black;
  &:hover {
  color:#ddaa10
 }
}

.divunproducto a h1{
  font-size: 1.3rem;
}


/*MAIN  PAGINA carrito *********************************/


.text-center1 img {
  width: 3rem;
  height: 3rem;
}

.divcarrito {
  padding: 20px;
  width: 100%;
  h1 {
  display: inline-block;
  position: relative;
  &::after,&::before{
   content:'';
   position: absolute;
   width: 3.625rem;
   height: 3px;
   background-color: black;
   top: 0.6em;
       }
     } 
  } 
  h1::after{
    left:7.8rem;
  }
  h1::before{
    right:7.8rem;
  } 

  .divcarrito a {
    display: flex;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
    font-weight:bold ;
    font-size: 0.938rem;
    padding: 4rem;
    justify-content: center;
    text-transform: uppercase;
    &:hover{
    color: #ddaa10;
    }

 }  
 .text-center  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  a  {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   margin: 20px;
   width: 15rem;
   height: 3rem;
   justify-content: center;
 }
}

.divcarrito a h1{
  font-size: 1.5rem;
}

